<div class="page-header divider-bottom">
  <h2>Crear Costeo/Cubicación</h2>
</div>
<div cg-busy="{promise:promesa,message:'Cargando'}" class="row row-first">
  <div class="col-lg-12">
    <form name="form" class="form-horizontal" novalidate>
      <formly-form model="model" fields="fields" form="form" options="options"></formly-form>
    </form>
  </div>
</div>
<hr>
<div class="row row-first">
  <div class="col-lg-9">
    <span ng-show="!form.$valid" class="pull-left error-label">* Por favor llenar campos obligatorios</span>
  </div>
  <div class="col-lg-2">
    <button ng-hide="submitting" ng-disabled="!form.$valid || submitting" class="btn btn-info pull-right" ng-click="cubicar()">Crear Costeo/Cubicación</button>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
  </div>
</div>
