<div class="dashboard">
  <div class="row divider-bottom">
    <div class="page-header">
      <h2>Dashboard</h2>
    </div>
  </div>
  <div class="row separador">
    <!--<div class="col-lg-4">-->
    <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">-->
    <!--<h3 class="panel-title">Distribución de Órdenes de Trabajo </h3>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
    <!--<highchart id="chart1" config="chartConfig[0]"></highchart>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div  class="col-lg-1" ng-if="chartConfig.length > 0">
      <div align="rigth">
        <div ng-click="descargarExcel()" class="btn btn-info">Exportar <i class="fa fa-file-excel-o"></i></div>
      </div>
    </div>

    <div ng-repeat="chart in chartConfig track by $index" ng-if="chart" class="{{chart.class}}">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{$index + 1}} - {{chart.grafico.title.text}}</h3>
        </div>
        <div class="panel-body">
          <form ng-show="chart.formly" name="form" class="form-horizontal" novalidate>
            <formly-form model="chart.objeto" fields="chart.formly">
            </formly-form>
          </form>
          <highchart  config="chart.grafico"></highchart>
          <div ng-if="$index == 3">En Curso: OTs en ejecución sin acta aprobada para pago.</div>
        </div>
      </div>
    </div>

    <div  class="col-lg-2" ng-if="chartConfig.length > 0">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Leyenda</h3>
        </div>
        <div class="panel-body">
         <div>MM: Miles de Millones.</div>
         <div>M: Millones.</div>
         <div>k: Miles.</div>
         <div>En Curso: OTs en ejecución sin acta aprobada para pago.</div>
        </div>
      </div>
    </div>

    <div ng-if="chartConfigTAB2.length > 0" class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Proyectos vs Importes Totales</h3>
        </div>
        <div class="panel-body">
          <tabset justified="true">
            <tab heading="SBE">
              <highchart id="chart1.7" config="chartConfigTAB2[0].grafico"></highchart>
            </tab>
            <tab heading="RAN">
              <highchart id="chart1.8" config="chartConfigTAB2[1].grafico"></highchart>
            </tab>
          </tabset>
        </div>
      </div>
    </div>

    <div ng-if="chartConfigTAB.length > 0" class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">JP vs Importes Totales</h3>
        </div>
        <div class="panel-body">
          <tabset justified="true">
            <tab heading="SBE">
              <highchart id="chart1.5" config="chartConfigTAB[0].grafico"></highchart>
            </tab>
            <tab heading="RAN">
              <highchart id="chart1.6" config="chartConfigTAB[1].grafico"></highchart>
            </tab>
          </tabset>
        </div>
      </div>
    </div>

    <div ng-if="chartConfigTAB3.length > 0" class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Contratos y JP vs Cantidad y Monto</h3>
        </div>
        <div class="panel-body">
          <tabset justified="true">
            <tab heading="CANTIDAD">
              <highchart  config="chartConfigTAB3[0].grafico"></highchart>
            </tab>
            <tab heading="MONTO">
              <highchart  config="chartConfigTAB3[1].grafico"></highchart>
            </tab>
          </tabset>
        </div>
      </div>
    </div>

<div ng-if="chartConfigTAB4.length > 0" class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Contrato y Tipo de Proyecto vs Cantidad y Monto</h3>
        </div>
        <div class="panel-body">
          <tabset justified="true">
            <tab heading="CANTIDAD">
              <highchart  config="chartConfigTAB4[0].grafico"></highchart>
            </tab>
            <tab heading="MONTO">
              <highchart  config="chartConfigTAB4[1].grafico"></highchart>
            </tab>
          </tabset>
        </div>
      </div>
    </div>

  </div>
</div>

<div ng-if="chartConfigTAB5.length > 0" class="col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Cantidad y Montos de Ots en Ejecución, Terminadas y Pagadas</h3>
        </div>
        <div class="panel-body">
          <tabset justified="true">
            <tab heading="CANTIDAD">
              <highchart  config="chartConfigTAB5[0].grafico"></highchart>
            </tab>
            <tab heading="MONTO">
              <highchart  config="chartConfigTAB5[1].grafico"></highchart>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="chartConfigTAB6.length > 0" class="col-lg-6">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Cantidad y Monto de Ot Por Proveedor</h3>
    </div>
    <div class="panel-body">
      <tabset justified="true">
        <tab heading="CANTIDAD">
          <highchart id="chart1.5" config="chartConfigTAB6[0].grafico"></highchart>
        </tab>
        <tab heading="MONTO">
          <highchart id="chart1.6" config="chartConfigTAB6[1].grafico"></highchart>
        </tab>
      </tabset>
    </div>
  </div>
</div>
