
<div class="row">
  <div class="col-lg-2">
    <tabs data="tabDataEventos" template-url="views/templates/sunken-menu-otec-template.html" vertical="true" type="tabs"> </tabs>
  </div>
  <div class="col-lg-10">
    <div class="row">
      <ui-view autoscroll></ui-view>
    </div>
  </div>
</div>
