  <div class="row row-first">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Cambio de Contraseña</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="../../images/logo_lg.png" width="150px" alt=""/>
            </div>
            <div class="col-md-8 divider-left">
              <form class="form-horizontal" name="cambioPassForm"
                    ng-submit="buscar(credentials)" novalidate>
                <fieldset>
                  <div class="form-group col-lg-12">
                    <label class="control-label">Contraseña</label>
                    <input type="password" class="form-control" ng-model="credentials.clave"  name="pass" placeholder="Ingrese su contraseña nueva" required="true">
                  </div>
                  <div class="form-group col-lg-12">
                    <label class="control-label">Repetir Contraseña</label>
                    <input type="password" name="repeatPass" class="form-control" ng-model="credentials.repeatClave" data-match="credentials.clave" placeholder="Repita su contraseña nueva" required="true">
                  </div>
                  <div class="form-group col-lg-12">
                    <span data-ng-show="cambioPassForm.repeatPass.$error.match">Contraseñas no coinciden!</span>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-9">
                      <button ng-show="cambioPassForm.$valid" type="submit"  class="btn btn-info">Cambiar Contraseña</button>
                      <!--<button type="button" ng-click="login()" ng-show="showLogButton" class="btn btn-info">Log In</button>-->
                    </div>
                  </div>
                </fieldset>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

