<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{titulo}}</h4>
</div>
<div class="modal-body">

    <fieldset>
        <label class="col-lg-2 control-label">{{tipoServicio.mensaje}}</label>
        <div class="col-lg-10">
          <span class="control-label">{{tipoServicio.nombre}}</span>
        </div>
    </fieldset>

</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="crearEditarTipoServicio()">{{tipoServicio.mensaje}}</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
