<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{modal.tituloModal}}</h4>
</div>
<div class="modal-body">
  <div cg-busy="{promise:promesa,message:'Cargando'}">
    <form ng-disabled="submitting" name="form" class="form-horizontal" novalidate>
      <formly-form model="objeto" fields="formulario">
      </formly-form>
    </form>
  </div>
</div>
<div  class="modal-footer">
  <span ng-show="!form.$valid" class="pull-left error-label">* Por favor llenar campos obligatorios</span>
  <button ng-show="!!modal.tituloBoton" ng-disabled="!form.$valid || submitting" class="btn btn-info" ng-click="cambiarPass()">{{modal.tituloBoton}}</button>
  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>


<!--<div class="row row-first">-->
  <!--<div class="col-md-6 col-md-offset-3">-->
    <!--<div class="panel panel-info">-->
      <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">Cambio de Contraseña</h3>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<div class="row">-->
          <!--<div class="col-md-4 text-center">-->
            <!--<img src="../../images/logo_lg.png" width="150px" alt=""/>-->
          <!--</div>-->
          <!--<div class="col-md-8 divider-left">-->
            <!--<form class="form-horizontal" name="cambioPassForm"-->
                  <!--ng-submit="buscar(credentials)" novalidate>-->
              <!--<fieldset>-->
                <!--<div class="form-group col-lg-12">-->
                  <!--<label class="control-label">Contraseña</label>-->
                  <!--<input type="password" class="form-control" ng-model="credentials.clave"  name="pass" placeholder="Ingrese su contraseña nueva" required="true">-->
                <!--</div>-->
                <!--<div class="form-group col-lg-12">-->
                  <!--<label class="control-label">Repetir Contraseña</label>-->
                  <!--<input type="password" name="repeatPass" class="form-control" ng-model="credentials.repeatClave" data-match="credentials.clave" placeholder="Repita su contraseña nueva" required="true">-->
                <!--</div>-->
                <!--<div class="form-group col-lg-12">-->
                  <!--<span data-ng-show="cambioPassForm.repeatPass.$error.match">Contraseñas no coinciden!</span>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<div class="col-lg-9">-->
                    <!--<button ng-show="cambioPassForm.$valid" type="submit"  class="btn btn-info">Cambiar Contraseña</button>-->
                    <!--&lt;!&ndash;<button type="button" ng-click="login()" ng-show="showLogButton" class="btn btn-info">Log In</button>&ndash;&gt;-->
                  <!--</div>-->
                <!--</div>-->
              <!--</fieldset>-->
            <!--</form>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
