<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">{{leyenda}}</div>
        <div show-by-rol='["gestor"]' ng-if="!!tituloBoton" ng-click="crearEditar()" class="btn btn-info">{{tituloBoton}}</div>
        <div show-by-rol='["PMO","Imputacion","Pagos"]' ng-click="descargarExcel()" class="btn btn-info">Exportar <i class="fa fa-file-excel-o"></i></div>
        <div tooltip="Filtros" slide-toggle="#filtrosCrearOt" class="btn btn-info"><i class="fa fa-filter" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
  <div class="row" cg-busy="{promise:myPromise,message:'Cargando...',minDuration:700}">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div id="filtrosCrearOt" duration="0.5s" class="slideable">
            <button ng-click="allColumns(columns)" tooltip="Selecionar Todas las colas" class="btn btn-info btn-sm"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
            <label class="checkbox-inline" ng-repeat="col in columns track by $index">
              <input type="checkbox" ng-change="guardarColumnas(columns)" ng-model="col.show" /> {{col.title}} |
            </label>
          </div>
        </div>
        <div class="row">
          <table show-filter="true" ng-table-dynamic="tableParams with columns" class="table table-condensed table-hover">
            <tr ng-repeat="obj in $data">
              <td ng-repeat="col in $columns" ng-class="col.ngClass">
            <span ng-show="col.type === 'detalleIcon'" ui-sref="detalleOt({id:obj.id})" class="text-center icon-radius-50">
              <figure tooltip="OT" ng-show="obj.tipoOt.nombre == 'OT'"><img src="images/ot_icon.png"  width="50px"/></figure>
              <figure tooltip="AP" ng-show="obj.tipoOt.nombre == 'AP'"><img src="images/ap_icon.png" width="50px"/></figure>
            </span>
                <span ng-click="listarDetalle(obj,col)" ng-show="col.icon != undefined" ng-class="{'icon-option':col.icon !== true,'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[col.field] === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[col.field] === false}" class="{{col.icon}}" ></span>
                <span ng-show="col.icon == undefined && col.subfield == undefined && col.field">{{obj[col.field]| picker:col.formatter}}</span>
                <span ng-show="col.subfield != undefined && col.subfieldplus == undefined">{{obj[col.field] [col.subfield]| picker:col.formatter}}</span>
                <span ng-show="col.field2 != undefined"> - {{obj[col.field2] | picker:col.formatter}}</span>
                <span ng-show="col.subfieldplus != undefined"> {{obj[col.field][col.subfield] | picker:col.formatter}} {{obj[col.field][col.subfieldplus] | picker:col.formatter}}</span>
                <span ng-show="col.type === 'options'" ng-class="col.class">
              <div hide-by-rol='["Calidad"]'>
                <div ng-show="obj.editar"  ng-click="editarEjecutarEvento(obj)" class="icon-option"><i  tooltip="Ejecutar Evento Anterior" class="fa fa-pencil-square-o"></i></div>
                <div ng-show="obj.ejecutar"  ng-click="ejecutarEvento(obj)" class="icon-option"><i  tooltip="Ejecutar Siguiente Evento" class="fa fa-play"></i></div>
                <div ng-show="obj.tieneTramites" show-by-rol='["gestor"]' ng-click="obtenerSolicitudPausa(obj)" class="icon-option"><i  tooltip="Obtener solicitud de detención" class="fa fa-pause-circle-o"></i></div>
                <div ng-show="!obj.tieneTramites" show-by-rol='["Trabajador EC","Coordinador EC","Administrador de Contrato EC"]' ng-click="solicitarPausa(obj)" class="icon-option"><i  tooltip="Solicitar Detención de Ot" class="fa fa-pause"></i></div>
                <div ng-show="estadoListadoOt !== 'cerrada'"  ng-click="adjuntarArchivos(obj)" class="icon-option"><i  tooltip="Adjuntar Archivos" class="fa fa-upload"></i></div>
                <div ng-hide="currentState.name !== 'gestion-ot-general.ot-en-tramite'" show-by-rol='["gestor","Administrador de Contrato EC"]' ng-click="reiniciarOtDetenida(obj)" class="icon-option"><i  tooltip="Reiniciar Ot Detenida" class="fa fa-repeat"></i></div>
              </div>
              <div ui-sref="detalleOt({id:obj.id})" class="icon-option"><i  tooltip="Ver Detalle OT" class="fa fa-eye"></i></div>
              <div show-by-rol='["gestor","Trabajador EC","Coordinador EC","Jefe de Área","Administrador de Contrato EC","Calidad"]' ng-click="escribirLibroDeObra(obj)" class="icon-option"><i  tooltip="Escribir Libro de Obra" class="fa fa-book"></i></div>
              <div show-by-rol='["Calidad"]' ng-click="checkList(obj)" class="icon-option"><i  tooltip="Hacer Check-List" class="fa fa-check-square-o"></i></div>
            </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-show="tableParams.data.length === 0" class="text-center no-data-text">
        No se encontraron resultados...
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="ng-table/filters/date.html">
  <input type="date" class="input-filter form-control" ng-model="params.filter()[name]" />
</script>
<script type="text/ng-template" id="ng-table/filters/dateFechaCreacionFormly.html">
  <formly-field options="dateFechaCreacion" class="input-filter form-control" ng-model="params.filter()[name]" />
</script>
<script type="text/ng-template" id="ng-table/filters/dateFechaInicioEstimadaFormly.html">
  <formly-field options="dateFechaInicioEstimada" class="form-valor-field" ng-model="params.filter()[name]" />
</script>
<script type="text/ng-template" id="ng-table/filters/selectFormly.html">
  <formly-field options="selectFormly" class="form-valor-field" ng-model="params.filter()[name]" />
</script>
<script type="text/ng-template" id="ng-table/filters/selectFormlyTipoOt.html">
  <formly-field options="selectFormlyTipoOt" class="form-valor-field" ng-model="params.filter()[name]" />
</script>

