<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">{{leyenda}}</div>
        <div  ng-hide="hideBuscar" class="filter filter-buscar" >Buscar</div>
        <label  ng-hide="hideBuscar" class="filter filter-radio" ><input   type="radio" ng-model="buscarConfig.opt" value="0" checked=""> por Número </label>
        <!--<label class="filter filter-radio" ><input  class="filter-radio" type="radio" ng-model="buscarConfig.opt"   value="1"> por Nombre   </label>-->
        <form name="form"  ng-hide="hideBuscar" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="filter filter-box"><input type="text" ng-model="buscarConfig.otIdoNombre" class="form-control" placeholder="Buscar..."></div>
          </div>
          <button type="submit" ng-click="buscarOt(buscarConfig)" class="btn btn-default">Buscar</button>
        </form>
        <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
        <!--<formly-form model="obj" fields="seleccinarCicloForm">-->
        <!--</formly-form>-->
        <!--</div>-->
        </form>
        <div show-by-rol='["gestor"]' ng-if="!!tituloBoton" ng-click="crearEditar()" class="btn btn-info">{{tituloBoton}}</div>
        <div show-by-rol='["PMO","Imputacion","Pagos"]' ng-click="descargarExcel(buscarConfig.estado)" class="btn btn-info">Exportar <i class="fa fa-file-excel-o"></i></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div ng-show="tableParams.data.length == 0 && loader==false" class="col-lg-4 col-lg-offset-4 no-data-text">
        No se encontraron resultados...
      </div>
      <!--<general-loader ng-show="loader"></general-loader>-->
      <div>
        <table cg-busy="{promise:myPromise,message:'Cargando',minDuration:1000}"  ng-show="tableParams.data.length > 0" template-header="headerTemplateCrearOT"  ng-table="tableParams" class="table">
          <tr ng-hide="obj.estado === 'E'" ng-repeat="obj in $data">
            <td ng-repeat="column in columns" sortable="column.field" class="font-size-90"  ng-class="column.class">
              <span ng-click="listarDetalle(obj,column)" ng-show="column.icon != undefined" ng-class="{'icon-option':column.icon !== true,'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[column.field] === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[column.field] === false}" class="{{column.icon}}" ></span>
              <span ng-show="column.icon == undefined && column.subfield == undefined">{{obj[column.field]| picker:column.formatter}}</span>
              <span ng-show="column.subfield != undefined && column.subfieldplus == undefined">{{obj[column.field] [column.subfield]| picker:column.formatter}}</span>
              <span ng-show="column.field2 != undefined"> - {{obj[column.field2] | picker:column.formatter}}</span>
              <span ng-show="column.subfieldplus != undefined"> {{obj[column.field][column.subfield] | picker:column.formatter}} {{obj[column.field][column.subfieldplus] | picker:column.formatter}}</span>
            </td>
            <td class="text-center font-size-90">
              <div ng-click="verDetalle(obj,metodos.parametros.estado)" class="icon-option"><i  tooltip="Ver Detalle de Bolsa de Otes" class="fa fa-eye"></i></div>
              <div show-by-rol='["Pagos"]' class="text-center">
                <div ng-show='metodos.parametros.estado === "" || metodos.parametros.estado === "asignadas"'>
                  <div ng-show="obj.usuarioAsignado == true" ng-click="pagar(obj,metodos.parametros.estado)" class="icon-option"><i  tooltip="Pagar" class="fa fa-money"></i></div>
                  <div ng-show="session.userId == 34 && obj.tienePrevalidacion === true" ng-click="asignar(obj,metodos.parametros.estado)" class="icon-option"><i  tooltip="Asignar Usuario de Pago" class="fa fa-street-view"></i></div>
                </div>
                <div ng-show='metodos.parametros.estado === "aprobadas"' ng-click="descargarHem(obj,metodos.parametros.estado)"  class="icon-option"><i  tooltip="Descargar HEM" class="fa fa-download"></i></div>
              </div>
            </td>
            <td hide-by-rol='["Pagos"]' ng-show='metodos.parametros.estado === ""' class="text-center font-size-90">
             <formly-field class="form-valor-field" model="obj" form="theFormlyForm" options="seleccinarForm"></formly-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>
    <hr />
  </div>
  <div hide-by-rol='["Pagos"]' class="row">
    <div class="col-lg-2 col-lg-offset-10">
      <button tooltip="Validar Bolsas Seleccionados" ng-show='metodos.parametros.estado === ""' ng-disabled="tableParams.data <= 0"  class="btn btn-success" ng-click="validar(tableParams.data)">Validar</button>
    </div>
  </div>
</div>
<script id="headerTemplateCrearOT" type="text/ng-template">
  <tr>
    <th ng-repeat="column in columns" ng-show="column.visible && !column.sorteableDisabled"
        class="text-center font-size-90 sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc')  ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <th ng-repeat="column2 in columns" ng-show="column2.sorteableDisabled"
        class="text-center font-size-90">
      <div class="">{{column2.title}}</div>
    </th>
    <th
        class="text-center font-size-90">
      <div class="">Opciones</div>
    </th>
    <th hide-by-rol='["Pagos"]' ng-show='metodos.parametros.estado === ""'
        class="text-center font-size-90">
      <div class="">Seleccionar</div>
    </th>

    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>

