<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div ng-show="to.title" class="legend-button">
        <div class="legend">{{to.title}}</div>
        <div ng-click="descargarExcel()" class="btn btn-info">Exportar <i class="fa fa-file-excel-o"></i></div>
      </div>
      <div ng-show="!to.title" class="legend-button">
        <div class="legend">Gráficos</div>
        <div ng-click="descargarExcel()" class="btn btn-info">Exportar <i class="fa fa-file-excel-o"></i></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="chart in to.charts track by $index" ng-if="chart" class="{{chart.class}}">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{$index + 1}} - {{chart.title}}</h3>
        </div>
        <div class="panel-body">
          <form ng-show="chart.formly" name="form" class="form-horizontal" novalidate>
            <formly-form model="chart.objeto" fields="chart.formly">
            </formly-form>
          </form>
        </div>
      </div>
    </div>

    <div show-by-rol='["Sub Gerente", "Jefe de Área", "Gerente"]' class="col-lg-2" ng-if="chartConfig.length > 0">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Leyenda</h3>
        </div>
        <div class="panel-body">
          <div>MM: Miles de Millones.</div>
          <div>M: Millones.</div>
          <div>k: Miles.</div>
          <div>En Curso: OTs en ejecución sin acta aprobada para pago.</div>
        </div>
      </div>
    </div>

    <div hide-by-rol='["Sub Gerente", "Jefe de Área", "Gerente"]'>
      <figure class="text-center no-data-text">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <figcaption>
          Dashboard en Construcción...
        </figcaption>
      </figure>
    </div>

  </div>
</div>
