<div class="modal-header">
    <h4 class="modal-title">{{titulo}} {{tipoObjeto}}</h4>
  </div>
  <div class="modal-body">
    Esta seguro que desea eliminar a <strong>{{nombre}}</strong>?
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-click="eliminarUsuario()">Eliminar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
