<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{modal.tituloModal}}</h4>
</div>
<div class="modal-body">
  <div>
    <h4 class="modal-title">Alcances Generales</h4>
    <h5>IMPORTANTE: ESTÁ INCLUIDO EN LOS PRECIOS DE LAS  ACTIVIDADES DE ESTE CONTRATO, CON LOS FACTORES de ZONA  y VALORES DE DESPLAZAMIENTO
    </h5>
    <ul class="nav nav-pills">
      <li role="presentation" ng-class="active1"><a ng-click="primeraPestana()">TRANSPORTE</a></li>
      <li role="presentation" ng-class="active2"><a ng-click="segundaPestana()">CERTIFICACIONES</a></li>
      <li role="presentation" ng-class="active3"><a ng-click="terceraPestana()">MAT/MANO OBRA</a></li>
      <li role="presentation" ng-class="active4"><a ng-click="cuartaPestana()">PRUEBAS</a></li>
      <li role="presentation" ng-class="active5"><a ng-click="quintaPestana()">GASTOS REGIONALES</a></li>
      <li role="presentation" ng-class="active6"><a ng-click="sextaPestana()">NO INCLUIDO</a></li>
    </ul>
  </div>

    <div class="panel panel-primary" ng-show="TRANSPORTE">
      <div class="panel-heading">TRANSPORTE  DE PERSONAL, EQUIPOS, MATERIALES, INSTRUMENTOS</div>
        <div style="text-align: justify;">Retirar equipos y materiales que aporte Telefónica. Transportar a los sitios de instalación personas, equipos o materiales que aporte TCH y los que aporte el propio contratista , los instrumentos y herramientas a los sitios de instalación tanto en regiones como Santiago. Transporte de sitio a Bodegas de TCH de equipos y materiales que se retiren.</div>
      </div>

  <div class="panel panel-primary" ng-show="CERTIFICACIONES">
    <div class="panel-heading">CERTIFICACIONES, DOCUMENTACIÓN,CONTROL DE CALIDAD, GARANTÍAS TÉCNICAS</div>
      <div style="text-align: justify;">Están implicitos  en los precios de los diferentes Items : La documentación de los proyectos,  certificaciones pertinentes, el control de calidad de las instalaciones , las garantías técnicas. La documentación técnica (  tanto en contenido como en formato será definida  en la puesta en marcha del contrato y perfeccionada durante la ejecución de esta).</div>
    </div>

  <div class="panel panel-primary" ng-show="MANOOBRA">
    <div class="panel-heading">MATERIALES Y MANO DE OBRA</div>
      <div style="text-align: justify">Todos los materiales y mano de obra  que sean necesarios para la  correcta ejecución de los servicios e instalaciones, fijados, cableados, identificados inequívocamente. De acuerdo a las instrucciones del fabricante de equipos, procedimientos de TCH y otras normas que se aluden en las bases técnicas. Todo lo anterior para que los equipos y servicios  queden  correctamente instalados  y funcionando,  con un alto nivel de calidad que permita operar sin problemas durante toda su vida útil.</div>
    </div>


  <div class="panel panel-primary" ng-show="PRUEBAS">
    <div class="panel-heading">PRUEBAS</div>
    <div style="text-align: justify;">Las pruebas de cada elemento y el disponer de los instrumentos y herramientas necesarias y del conjunto además de la configuración o gestion de configuración necesaria para realizar las pruebas de campo ( donde se requiera).</div>
  </div>

  <div class="panel panel-primary" ng-show="GASTOSREGIONALES">
    <div class="panel-heading">GASTOS ASOCIADOS A TRABAJO EN REGIONES</div>
    <div style="text-align: justify;">Todos los gastos asociados  al trabajo  en Regiones, entre otros  el transporte de equipos y  materiales ,  los viáticos.</div>
  </div>

  <div class="panel panel-primary" ng-show="NOINCLUIDO">
    <div class="panel-heading">NO ESTÁ INCLUIDO EN LOS PRECIOS DE LAS ACTIVIDADES DE ESTE CONTRATO</div>
    <div style="text-align: justify">Los materiales que  expresamente indicados como  aportados por TCH.</div>
  </div>


  <h5>IMPORTANTE: NO ESTÁ INCLUIDO EN LOS PRECIOS DE LAS ACTIVIDADES DE ESTE CONTRATO</h5>

  <h5>Los materiales que  expresamente indicados como  aportados por TCH.</h5>


  <div cg-busy="{promise:promesa,message:'Cargando'}" >
    <form ng-disabled="submitting" name="form" class="form-horizontal" novalidate>
      <formly-form model="objeto" fields="formulario">
      </formly-form>
    </form>
  </div>
</div>
<div  class="modal-footer">
  <span ng-show="!form.$valid" class="pull-left error-label">* Por favor llenar campos obligatorios</span>
  <button  ng-hide="submitting || !boton.tituloBoton" ng-disabled="!form.$valid || submitting" class="btn btn-info" ng-click="click(boton)">{{boton.tituloBoton}}</button>
  <button ng-repeat="boton in modal.botones" ng-show="!modal.tituloBoton" ng-disabled="(!form.$valid == boton.opcionValidacion) || submitting" class="btn btn-info" ng-click="click(boton)">{{boton.tituloBoton}}</button>
  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
