<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{modal.tituloModal}}</h4>
</div>
<div class="modal-body">
  <div cg-busy="{promise:promesa,message:'Cargando'}" >
    <form ng-disabled="submitting" name="form" class="form-horizontal" novalidate>
      <formly-form model="objeto" fields="formulario" form="form" options="options">
      </formly-form>
    </form>
  </div>
</div>
<div  class="modal-footer">
  <span ng-show="!form.$valid && modal.errorMessage" class="pull-left error-label">{{modal.errorMessage}}</span>
  <span ng-show="!form.$valid && !modal.errorMessage" class="pull-left error-label">* Por favor llenar campos obligatorios</span>
  <button  ng-hide="submitting || !boton.tituloBoton" ng-disabled="!form.$valid || submitting" class="btn btn-info" ng-click="click(boton)">{{boton.tituloBoton}}</button>
  <button ng-repeat="boton in modal.botones" ng-show="!modal.tituloBoton" ng-disabled="(!form.$valid == boton.opcionValidacion) || submitting" class="btn btn-info" ng-click="click(boton)">{{boton.tituloBoton}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{modal.cancelTitle || "Cancelar"}}</button>
</div>

