<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{titulo}}</h4>
</div>
<div class="modal-body">
  <div ng-show="tableParams.data.length == 0" >
    No se encontraron resultados...
  </div>
  <div cg-busy="myPromise" >
    <table ng-show="tableParams.data.length > 0" template-header="headerTemplateListaDetalle"  ng-table="tableParams" class="table">
      <tr ng-repeat="objeto in $data track by $index">
        <td ng-repeat="column in columns"  ng-class="column.class">
          <span ng-show="column.icon != undefined" ng-class="{'icon-option':column.icon !== true,'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': objeto[column.field] == ' ejecutado','icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': objeto[column.field] == ' por ejecutar','fa fa-play': objeto[column.field] == ' en ejecucion'}" class="{{column.icon}}" ></span>
          <span ng-show="column.icon == undefined && column.subfield == undefined">{{objeto[column.field]| picker:column.formatter}}</span>
          <span ng-show="column.subfield != undefined">{{objeto[column.field] [column.subfield]| picker:column.formatter}}</span>
        </td>
      </tr>
      <tr ng-hide="hideTotal" ng-repeat-end>
        <td  class="text-success text-right"><strong ng-if="columns[columns.length-1].currencySimbol || columns[columns.length-1].currency == true">Total:</strong></td>
        <td ng-repeat="column in columns track by $index" ng-show="$index < columns.length - 2"></td>
        <td  ng-show="columns[columns.length-1].currencySimbol == 'US$' " class="{{columns[columns.length-1].class}}">{{sum(listaDeObjetos,sumField ||  columns[ columns.length-1].field) | currency:'US$'}}</td>
        <td  ng-show="columns[columns.length-1].currencySimbol == '€' " class="{{columns[columns.length-1].class}}">{{sum(listaDeObjetos,sumField ||  columns[columns.length-1].field) | currency:'€'}}</td>
        <td  ng-show="columns[columns.length-1].currencySimbol == '$' " class="{{columns[columns.length-1].class}}">{{sum(listaDeObjetos,sumField ||  columns[columns.length-1].field) | currency:'$'}}</td>
        <td  ng-show="columns[columns.length-1].currencySimbol == undefined && columns[columns.length-1].currency == true" class="{{columns[ columns.length-1].class}}">{{sum(listaDeObjetos, sumField || columns[columns.length-1].field) | currency:'$'}}</td>
        <td ng-show="columns[columns.length-1].sufijo" class="{{columns[columns.length-1].class}}">{{columns[columns.length-1].sufijo}} </td>
      </tr>
    </table>
  </div>
</div>
<div  class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cerrar</button>
</div>
<script id="headerTemplateListaDetalle" type="text/ng-template">
  <tr>
    <th ng-repeat="column in columns" ng-show="column.visible"
        class="text-center sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
  </tr>
</script>
