<div class="modal-header">
  <button ng-disabled="submitting" type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{modal.tituloModal}}</h4>
</div>
<div class="modal-body" ng-class="{'modal-body-tall':keyPropertyLenght}">
  <div cg-busy="{promise:promesa,message:'Cargando'}">
  <form ng-disabled="true" name="form" class="form-horizontal form-crear-ot" novalidate>
    <tabset type="pills" vertical="true" ng-if="!!tabs">
      <tab ng-hide="hideTab(tab.hideExpression)" ng-repeat="tab in tabs"
           heading="{{tab.title}}"
           active="tab.active"
           disable="tab.disabled">
        <formly-form model="objeto" fields="tab.form.fields" options="tab.form.options">
        </formly-form>
      </tab>
    </tabset>
    <formly-form model="objeto" fields="formulario" options="options" form="form">
    </formly-form>
  </form>
    </div>
</div>
<div  class="modal-footer">
  <span ng-show="!form.$valid && !modal.hideRequiredMessage" class="pull-left error-label">* Por favor llenar campos obligatorios</span>
  <!--<button ng-show="!!modal.tituloBoton && paso !== 0" ng-disabled="submitting" class="btn btn-info" ng-click="volver()">Anterior</button>-->
  <button ng-show="!!modal.tituloBoton" ng-disabled="!form.$valid || submitting" class="btn btn-info" ng-click="crearEditar(modal.servicio)">{{modal.tituloBoton}}</button>
  <button ng-repeat="boton in modal.botones" ng-show="!modal.tituloBoton" ng-disabled="(!form.$valid == boton.opcionValidacion) || submitting || !boton.validationExpressionBool" class="btn btn-info" ng-click="crearEditar(boton)">{{boton.tituloBoton}}</button>
  <button ng-disabled="submitting"  class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
