<div ng-model="model[options.key]" cg-busy="{promise:promesa,message:'Subiendo Archivos'}" ng-required="{{to.required}}">
  <form ng-disabled="true" name="formMulti" class="form-horizontal form-crear-ot" novalidate>
    <formly-form model="obj" fields="valorFormField">
    </formly-form>
  </form>
  <hr/>
  <div class="row">
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in files">
          <td><strong>{{ item.name }}</strong></td>
          <td>{{ item.size/1024/1024|number:2 }} MB</td>
          <td class="text-center" ng-click="remove(item)" >
          <span class="icon-option">
            <span tooltip="Remover" class="glyphicon glyphicon-trash"></span>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <!--<button class="btn btn-default" ngf-max-files="{{to.maxFiles}}" ngf-select="uploadFiles($files)" multiple>Seleccionar Archivos</button>-->
      <button class="btn btn-default" ngf-select="uploadFiles($files)" multiple>Seleccionar Archivos</button>
    </div>
    <div ng-hide="to.uploadButton == false " class="row">
      <button type="button" class="btn btn-success btn-s pull-right" ng-click="subirInformeDeAvance()" ng-disabled="!obj.usuariosRoles || !obj.observaciones || !obj.hemId || !model.filesValidation || (obj.observaciones.length > maxChar)">
        <span class="glyphicon glyphicon-upload"></span> <span ng-show="to.uploadButtonTitle == undefined"> Subir Informe de Avance </span>{{to.uploadButtonTitle}}*
      </button>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {{to.formatText}} <span ng-show="!to.formatText">Formatos: .png, .gif, .jpeg, .pjpeg, .pdf, .zip, .dwg, .rar y archivos de Microsoft Office.</span>
      </div>
    </div>
  </div>
</div>
