<div class="modal-header">
    <h4 class="modal-title">{{titulo}} {{nombre}}</h4>
  </div>
  <div class="modal-body">
    {{texto}} <strong>{{nombre}}</strong>?
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-click="quitarEliminarUsuario()">{{tituloBoton}}</button>
    <button class="btn btn-default" ng-click="cancel()">Cerrar</button>
</div>
