<div ng-model="objetos">
  <div ng-show="to.title" class="row">
    <div class="legend-button">
      <div class="legend">{{to.title}}</div>
    </div>
  </div>
  <div ng-show="objetos.length > 0" class="row">
    <table template-header="headerSimpleTable.html"  ng-table="tableParams" class="table">
      <tr ng-repeat="obj in $data track by $index">
        <td ng-repeat="column in to.columnsB" sortable="column.field" ng-show="column.visible" class="{{column.class}}"  ng-class="{{column.ngclass}}">
          <div ng-if="column.type == 'formly'" class="form-valor-field">
            <formly-field ng-if="obj[column.valorFormField]" class="form-valor-field" model="obj" form="theFormlyForm" options="obj[column.valorFormField]"></formly-field>
            <formly-field ng-if="column.formly" class="form-valor-field" model="obj" form="theFormlyForm" options="column.formly"></formly-field>
          </div>
          <span ng-hide="(column.currency || column.type=='options' || column.type == 'number' || column.type === 'formly' || column.type === 'iconBoolean')">{{column.prefijo}}{{obj[column.field] | picker:column.formatter:column.formatter2 }}{{column.sufijo}}</span>
          <span ng-show="column.type=='number'">{{obj[column.field] | decimal2comma}}</span>
          <span ng-show="column.type == 'iconBoolean'"><span ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[column.field] === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[column.field] === false || obj[column.field] === undefined}"></span></span>
          <span ng-show="column.currencySimbol == 'US$' ">{{obj[column.field] | currency: 'US$'}}</span>
          <span ng-show="column.currencySimbol == 'UF' ">{{obj[column.field] | currency: 'UF '}}</span>
          <span ng-show="column.currencySimbol == '€' ">{{obj[column.field] | currency: '€'}}</span>
          <span ng-show="column.currency == true && (column.currencySimbol == '$' || column.currencySimbol == undefined )">{{obj[column.field] | currency: (column.currencySimbol||'$')}}</span>
          <span ng-show="column.type=='remover'" >
            <span tooltip="Remover" ng-click="remove(obj)" tooltip="Eliminar {{obj.nombre}}" class="icon-option glyphicon glyphicon-trash"></span>
            <span ng-click="verAlcance(obj)" tooltip="{{option.tootip}}" ng-show="column.alcance" tooltip="Alcance" class="icon-option fa fa-compass"></span>
          </span>
          <span ng-show="column.type=='options'">
            <span ng-hide="option.hideFunction(obj)" ng-repeat="option in column.options" style="margin-right: 0.3em; font-size: 1.3em">
              <span ng-show="!option.type" tooltip="{{option.tooltip}}"  class="icon-option {{option.icon}}" ng-click="opt.click(option,obj,model,tableParams,this)"></span>
              <span ng-show="option.type=='remover'" tooltip="Remover" ng-click="remove(obj)" tooltip="Eliminar {{obj.nombre}}" class="icon-option glyphicon glyphicon-trash"></span>
            </span>
          </span>
        </td>
      </tr>
      <tr class="divider-top-2x" ng-hide="to.hideTotal" ng-repeat-end>
        <td ng-repeat="column in to.columnsB track by $index" ng-class='{"text-right":$index==0}' class="{{column.class}}">
        <span class="text-success text-right" ng-show="$first"><strong>Totales:</strong></span>
        <span  ng-show="column.currencySimbol == 'US$' && column.hideTotal !== true" >{{sum(objetos,column.field ||  to.columnsB[ to.columnsB.length-1].field) | currency:'US$'}}</span>
        <span  ng-show="column.currencySimbol == 'UF' && column.hideTotal !== true" >{{sum(objetos, column.field ||  to.columnsB[ to.columnsB.length-1].field) | currency:'UF '}}</span>
        <span  ng-show="column.currencySimbol == '€' && column.hideTotal !== true" >{{sum(objetos,column.field  ||  column.field) | currency:'€'}}</span>
        <span  ng-show="column.currencySimbol == '$' && column.hideTotal !== true" >{{sum(objetos,column.field  ||  column.field) | currency:'$'}}</span>
        <span  ng-show="column.currencySimbol == undefined && column.currency == true && column.hideTotal !== true">{{sum(objetos, column.field || column.field) | currency:'$'}}</span>
        <span  ng-show="column.sufijo">{{column.sufijo}}</span>
        <span  ng-show="column.type=='number'">{{sum(objetos,column.field) | decimal2comma}}</span>
        </td>
      </tr>

    </table>
  </div>
  <div ng-show="objetos.length == 0" class="row">
    No se encontraron resultados...
  </div>
</div>
<script id="headerSimpleTable.html" type="text/ng-template">
  <tr>
    <th tooltip="{{column.descripcion}}" ng-repeat="column in to.columnsB" ng-show="column.visible"
        class="text-center sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>
