<div ng-model="model[options.key]">
  <div ng-if="to.titulo !== undefined" class="row">
    <div class="legend-button">
      <div class="legend">{{to.titulo}}</div>
      <div ng-if="to.type == 'add'" ng-click="addOption()" class="btn btn-info"><i class="fa fa-plus-circle"></i></div>
    </div>
  </div>
  <div ng-show="model[options.key].length > 0" class="row">
    <!--<span ng-show="model[options.key].length == 0 && to.type !== 'add'">No se encontraron resultados</span>-->
    <table template-header="TableFormHeaderTemplate"  ng-table="tableParams" class="table table-condensed table-hover">
      <tr ng-repeat="obj in $data track by $index">
        <td ng-class="{'column-type-validar':column.type == 'validar'}" style="vertical-align: middle;" ng-show="column.visible && visibleFunction(obj,column)" ng-repeat="column in columns" sortable="column.field" class="{{column.class}}" >
          <div  ng-if="column.type == 'index'">{{getIndex(obj)}}</div>
          <div  ng-if="column.type == 'button'"><button class="btn btn-info" ng-click="verDetalleColumn(obj,column)">{{obj[column.field]}}</button></div>
          <div  ng-if="column.type == 'iconBoolean'"><span ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[column.field] === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[column.field] === false}"></span></div>
          <div  ng-if="column.type == 'iconBooleanInv'"><span ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[column.field] === false,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[column.field] === true}"></span></div>
          <div  ng-if="column.type == 'label' && !column.subfield">
            <span ng-if="!column.currencySimbol">{{obj[column.field] | picker:column.formatter}}</span>
            <span ng-show="column.currencySimbol == 'US$' ">{{obj[column.field] | currency: 'US$'}}</span>
            <span ng-show="column.currencySimbol == 'UF' ">{{obj[column.field] | currency: 'UF '}}</span>
            <span ng-show="column.currencySimbol == '€' ">{{obj[column.field] | currency: '€'}}</span>
          </div>
          <div  ng-if="column.type == 'icon'"><span tooltip="{{column.tooltip}}" ng-click="column.click(obj,Session,this)" class="icon-option {{column.classIcon}}"></span></div>
          <div  ng-if="column.type == 'label' && column.subfield">{{obj[column.field][column.subfield] | picker:column.formatter}}</div>
          <div ng-if="column.type == 'formly'" class="form-valor-field">
            <formly-field ng-if="!!column.valorFormField" class="form-valor-field" model="obj" form="theFormlyForm" options="obj[column.valorFormField]"></formly-field>
            <formly-field ng-if="!!column.form" name="{{$index}}" class="form-valor-field" model="obj" form="theFormlyForm" options="column.form"></formly-field>
          </div>
          <div ng-if="column.type == 'formlyAdd'" class="form-valor-field">
            <formly-field class="form-valor-field" model="obj" form="theFormlyForm" options="column.valorFormField"></formly-field>
          </div>
          <div ng-if="column.type == 'validar'"><formly-field class="form-valor-field" model="obj" form="theFormlyForm" options="validarForm"></formly-field> </div>
          <div ng-if="column.type == 'switch'">
            <div class="row">
              <span ng-show="obj[column.field] == true">{{column.trueText}}</span>
              <span ng-show="obj[column.field] == false">{{column.falseText}}</span>
            </div>
            <div class="row">
            <switch name="obj.switchText" disabled="false" ng-model="obj[column.field]" class="switchRedGreen"></switch>
            </div>
          </div>
        <div ng-show="column.type=='remover'" >
            <span tooltip="Remover" ng-click="quitar(obj)" tooltip="Eliminar {{obj.nombre}}" class="icon-option glyphicon glyphicon-trash"></span>
            <span ng-click="verAlcance(obj)" ng-show="column.alcance" tooltip="Alcance" class="icon-option fa fa-compass"></span>
          </div>
          <div ng-show="column.type=='alcance'" >
            <span ng-click="verAlcance(obj)" ng-show="column.alcance" tooltip="Alcance" class="icon-option fa fa-compass"></span>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="model[options.key].length == 0 " class="row">
    No se encontraron resultados...
  </div>
</div>

<script id="TableFormHeaderTemplate" type="text/ng-template">
  <tr>
    <th tooltip="{{column.descripcion}}" ng-repeat="column in columns" ng-show="column.visible"
        class="text-center sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
  </tr>
</script>
