<tabset ng-repeat="tabpanel in vm.form | filter:{type:'tabpanel'}">
  <tab ng-repeat="tab in tabpanel.tabs | filter:{type:'tab'}"
       heading="{{tab.title}}"
       active="tab.active"
       disable="tab.disabled">

    <formly-transclude></formly-transclude>

  </tab>
</tabset>
