<!--<ul mfb-menu position="br">-->
<!--<a label="Play" mfb-button icon="ion-ios-play"></a>-->
<!--</ul>-->
<div class="row">
  <div class="col-lg-3 detalle-ot-side-menu">
    <div class="row">
      <div class="col-lg-2">
        <div class="icon-radius-50">
          <figure tooltip="OT" ng-show="objeto.tipoOt.nombre == 'OT'"><img src="images/ot_icon.png" width="50px"/>
          </figure>
          <figure tooltip="AP" ng-show="objeto.tipoOt.nombre == 'AP'"><img src="images/ap_icon.png" width="50px"/>
          </figure>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          Número: {{objeto.id}}
        </div>
        <div class="row">
          Nombre: {{objeto.nombre}}
        </div>
      </div>
    </div>
    <div class="row list-group-container">
      <div class="row">
        <strong>Navegación</strong>
      </div>
      <div class="list-group">
        <a ng-click="changeTab('tabInfo')" href="" ng-class="{active: view_tab == 'tabInfo'}" class="list-group-item">
          <i class="fa fa-info-circle"></i> Información
        </a>
        <a hide-by-rol='["Calidad"]' ng-click="changeTab('tabCosteos')" href=""
           ng-class="{active: view_tab == 'tabCosteos'}" class="list-group-item">
          <i class="fa fa-calculator"></i> Costeos
        </a>
        <a hide-by-rol='["Calidad", "Trabajador EC"]' ng-click="changeTab('tabActas')" href=""
           ng-class="{active: view_tab == 'tabActas'}" class="list-group-item">
          <i class="fa fa-files-o"></i> Actas
        </a>
        <a ng-click="changeTab('tabLibrosDeObra')" href="" ng-class="{active:view_tab == 'tabLibrosDeObra'}"
           class="list-group-item">
          <i class="fa fa-book"></i> Libros de Obra
        </a>
        <a ng-click="changeTab('tabLibrosDeObraCalidad')" href=""
           ng-class="{active:view_tab == 'tabLibrosDeObraCalidad'}" class="list-group-item">
          <i class="fa fa-book"></i> Libros de Obra - Calidad
        </a>
        <a ng-click="changeTab('tabUsuariosValidadores')" href=""
           ng-class="{active:view_tab == 'tabUsuariosValidadores'}" class="list-group-item">
          <i class="fa fa-users"></i> Usuarios Validadores
        </a>
        <a hide-by-rol='["Calidad"]' ng-click="changeTab('tabTramites')" href=""
           ng-class="{active:view_tab == 'tabTramites'}" class="list-group-item">
          <i class="fa fa-pause"></i> Historial Detenciones
        </a>
        <a ng-click="changeTab('tabAdjuntos')" href="" ng-class="{active: view_tab == 'tabAdjuntos'}"
           class="list-group-item">
          <i class="fa fa-download"></i> Adjuntos
        </a>
      </div>
    </div>
    <hr/>
    <div class="row list-group-container">
      <div class="row">
        <strong>Opciones</strong>
      </div>
      <div class="list-group">
        <!--<a ng-show="objeto.ejecutar" ng-click="ejecutarEvento(id)" href="" class="list-group-item">-->
        <!--<i class="fa fa-play"></i> Ejecutar Ot/Ap-->
        <!--</a>-->
        <a hide-by-rol='["Calidad", "Auditoria Telefonica"]' ng-click="adjuntarArchivos(objeto)" href=""
           class="list-group-item">
          <i class="fa fa-upload"></i> Adjuntar Archivo
        </a>
        <a hide-by-rol='["Calidad"]' ng-click="listarDetalle(objeto,'obtenerAccionesOt')" href=""
           class="list-group-item">
          <i class="fa fa-list"></i> Flujo
        </a>
        <a show-by-rol='["gestor","Calidad", "Auditoria Telefonica"]' ng-click="escribirLibroDeObra(objeto)" href="" class="list-group-item">
          <i tooltip="Escribir Libro de Obra" class="fa fa-book"></i> Escribir en Libro de Obra
        </a>
      </div>
    </div>

  </div>
  <div class="col-lg-3">
    <div class="col-lg-12">\</div>
  </div>
  <div class="col-lg-9  detalle-ot-content">
    <div class="row" ng-show="view_tab == 'tabInfo'">
      <div class="col-lg-12-ot">
        <div class="legend-button">
          <div class="legend">Información</div>
        </div>
        <ul class="list-group">
          <li ng-show="objeto.proveedor" class="list-group-item">
            <span class="badge">{{objeto.proveedor.nombre}}</span>
            <i class="fa fa-caret-right"></i> Proveedor
          </li>
          <li ng-show="objeto.fechaCreacion" class="list-group-item">
            <span class="badge">{{objeto.fechaCreacion | date:'dd-MM-yyyy'}}</span>
            <i class="fa fa-caret-right"></i> Fecha Creación
          </li>
          <li ng-show="objeto.fechaInicioEstimada" class="list-group-item">
            <span class="badge">{{objeto.fechaInicioEstimada | date:'dd-MM-yyyy'}}</span>
            <i class="fa fa-caret-right"></i> Fecha Inicio
          </li>
          <li ng-show="objeto.fechaTerminoEstimada" class="list-group-item">
            <span class="badge">{{objeto.fechaTerminoEstimada | date:'dd-MM-yyyy'}}</span>
            <i class="fa fa-caret-right"></i> Fecha Término
          </li>
          <li ng-show="objeto.contrato" class="list-group-item">
            <span class="badge pull-right">{{objeto.contrato.nombre}}</span>
            <i class="fa fa-caret-right"></i> Contrato
          </li>
          <li ng-show="detalleOt.fechaAdjudicacion" class="list-group-item">
            <span class="badge pull-right">{{detalleOt.fechaAdjudicacion}}</span>
            <i class="fa fa-caret-right"></i> Fecha de Adjudicación
          </li>
          <li ng-show="detalleOt.numero" class="list-group-item">
            <span class="badge">{{detalleOt.numero}}</span>
            <i class="fa fa-caret-right"></i> Número
          </li>
          <li ng-show="detalleOt.numeroCarta" class="list-group-item">
            <span class="badge">{{detalleOt.numeroCarta}}</span>
            <i class="fa fa-caret-right"></i> Número Carta
          </li>
          <li ng-show="detalleOt.numeroPedido" class="list-group-item">
            <span class="badge">{{detalleOt.numeroPedido}}</span>
            <i class="fa fa-caret-right"></i> Número Pedido
          </li>
          <li ng-show="detalleOt.materia" class="list-group-item">
            <span class="pull-right">{{detalleOt.materia}}</span>
            <i class="fa fa-caret-right"></i> Materia
          </li>
          <li ng-show="detalleOt.asunto" class="list-group-item">
            <!--<div class="col-lg-6 text-align-right pull-right no-padding-right">{{detalleOt.asunto}}</div>-->
            <!--<div class="col-lg-3 no-padding-left">  <i class="fa fa-caret-right"></i> Asunto</div>-->
            <span class="pull-right">{{detalleOt.asunto}}</span>
            <i class="fa fa-caret-right"></i> Asunto
          </li>
          <li ng-show="detalleOt.planDeProyecto.id" class="list-group-item">
            <span class="badge">{{detalleOt.planDeProyecto.nombre}}</span>
            <i class="fa fa-caret-right"></i> Plan de Proyecto
          </li>
          <li ng-show="detalleOt.codigoProyecto" class="list-group-item">
            <span class="badge">{{detalleOt.codigoProyecto}}</span>
            <i class="fa fa-caret-right"></i> Código de Proyecto
          </li>
          <li ng-show="detalleOt.direccion" class="list-group-item">
            <span class="badge">{{detalleOt.direccion}}</span>
            <i class="fa fa-caret-right"></i> Dirección
          </li>
          <li ng-show="objeto.idPmo" class="list-group-item">
            <span class="badge">{{objeto.idPmo}}</span>
            <i class="fa fa-caret-right"></i> ID PMO
          </li>
          <li ng-show="objeto.lp" class="list-group-item">
            <span class="badge">{{objeto.lp}}</span>
            <i class="fa fa-caret-right"></i> Línea Presupuestaria
          </li>
          <li ng-show="objeto.pep2" class="list-group-item">
            <span class="badge">{{objeto.pep2}}</span>
            <i class="fa fa-caret-right"></i> PEP2
          </li>
          <li ng-show="detalleOt.sitio.nombre" class="list-group-item">
            <span class="badge">{{detalleOt.sitio.nombre}}</span>
            <i class="fa fa-caret-right"></i> Nombre de Sitio
          </li>
          <!--//Se agrego por mientras ya que se pidio agregar este dato.-->
          <li ng-show="detalleOt.sitio" class="list-group-item">
            <span class="badge">{{detalleOt.sitio.rut}}</span>
            <i class="fa fa-caret-right"></i> Rut de Sitio
          </li>
          <li ng-show="detalleOt.sitio.codigo" class="list-group-item">
            <span class="badge">{{detalleOt.sitio.codigo}}</span>
            <i class="fa fa-caret-right"></i> Código de Sitio
          </li>
          <li ng-show="detalleOt.sitio.direccion" class="list-group-item">
            <span class="badge">{{detalleOt.sitio.direccion}}</span>
            <i class="fa fa-caret-right"></i> Dirección
          </li>
          <li ng-show="detalleOt.sitio.latitud" class="list-group-item">
            <span class="badge">{{detalleOt.sitio.latitud}}</span>
            <i class="fa fa-caret-right"></i> Latitud
          </li>
          <li ng-show="detalleOt.sitio.longitud" class="list-group-item">
            <span class="badge">{{detalleOt.sitio.longitud}}</span>
            <i class="fa fa-caret-right"></i> Longitud
          </li>
          <li ng-show="detalleOt.avba" class="list-group-item">
            <span class="badge">{{detalleOt.avba}}</span>
            <i class="fa fa-caret-right"></i> Número AVBA
          </li>
          <li ng-show="detalleOt.derivada" class="list-group-item">
            <span class="badge">{{detalleOt.derivada}}</span>
            <i class="fa fa-caret-right"></i> Número Derivada
          </li>
          <li ng-show="objeto.detalleOt.idDiseno" class="list-group-item">
            <span class="badge">{{objeto.detalleOt.idDiseno}}</span>
            <i class="fa fa-caret-right"></i> ID Diseño
          </li>
          <li ng-show="detalleOt.idOtDiseno && detalleOt.idOtDiseno !== '0'" class="list-group-item">
            <span class="badge">{{detalleOt.idOtDiseno}}</span>
            <i class="fa fa-caret-right"></i> Número OT Diseño
          </li>
          <li ng-show="objeto.numeroAp" class="list-group-item">
            <span class="badge">{{objeto.numeroAp}}</span>
            <i class="fa fa-caret-right"></i> Número AP
          </li>
        </ul>
      </div>
      <div class="col-lg-12-ot">
        <div class="legend-button">
          <div class="legend">Observaciones</div>
        </div>
        <p> {{observaciones}}</p>
      </div>
    </div>
    <div hide-by-rol='["Calidad"]' class="row" ng-show="view_tab == 'tabCosteos'">
      <div class="col-lg-12-ot">
        <div class="legend-button">
          <div class="legend">Costeos</div>
        </div>
        <!--Costeo de SBE y Otros-->
        <div ng-show="objeto.contrato.id !== 2 && objeto.contrato.id !== 4 && objeto.contrato.id !== 9">
          <div class="row"><strong>Servicios</strong></div>
          <div ng-show="cubicacionServicios.length > 0" class="row">
            <formly-field class="form-valor-field" model="this" options="tableCosteosServicios"></formly-field>
          </div>
          <div ng-show="cubicacionServicios.length == 0 || !cubicacionServicios" class="row">
            No se costearon Servicios...
          </div>
          <div class="row"><strong>Materiales</strong></div>
          <div ng-show="cubicacion.materiales.length > 0" class="row">
            <formly-field class="form-valor-field" model="cubicacion" options="tableCosteosMateriles"></formly-field>
          </div>
          <div ng-show="cubicacion.materiales.length == 0 || !cubicacion.materiales" class="row">
            No se costearon Materiales...
          </div>
        </div>
        <!--Costeo de Ordinario-->
        <div ng-show="objeto.contrato.id === 2">
          <div class="row"><strong>Items</strong></div>
          <div ng-if="objeto.contrato.id == 2 && cubicacion.length > 0" class="row">
            <formly-field class="form-valor-field" model="this" options="tableCosteosItems"></formly-field>
          </div>
          <div ng-show="cubicacion.length == 0 || !cubicacion" class="row">
            No se costearon Items...
          </div>
        </div>
        <!--Costeo de Unificado-->
        <div ng-show="objeto.contrato.id === 4">
          <div class="row"><strong>Servicios</strong></div>
          <div ng-if="cubicacion.length > 0" class="row">
            <formly-field class="form-valor-field" model="this" options="tableCosteosUnificado"></formly-field>
          </div>
          <div ng-show="cubicacion.length == 0 || !cubicacion" class="row">
            No se costearon Items...
          </div>
        </div>
        <div ng-show="objeto.contrato.id === 9">
          <form ng-disabled="true" name="form" class="form-horizontal form-crear-ot" novalidate>
          <formly-form model="cubicacion" fields="formularioCubicacion" options="optionsCubicacion" form="formCubicacion">
          </formly-form>
            </form>
        </div>
      </div>
    </div>
    <div hide-by-rol='["Calidad"]' class="row" ng-show="view_tab == 'tabTramites'">
      <div class="col-lg-12-ot">
        <div class="legend-button">
          <div class="legend">Trámites</div>
        </div>
        <div ng-if="tramites.length > 0" class="row">
          <formly-field class="form-valor-field" model="this" options="formTableTramites"></formly-field>
        </div>
        <div ng-show="tramites.length == 0 || !tramites" class="row">
          <strong>No se encontraron datos...</strong>
        </div>
      </div>
    </div>
    <div hide-by-rol='["Calidad"]' class="row" ng-show="view_tab == 'tabActas'">
      <div class="row">
        <div class="col-lg-3-ot divider-right">
          <div class="legend-button">
            <div class="legend">Actas</div>
          </div>
          <div ng-show="libroActas.actas.length == 0"><strong>No se encontraron datos..</strong></div>
          <div ng-class="{active: acta.id == currentActa.id}" ng-show="libroActas.actas.length > 0"
               cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500 }"
               ng-click="setDetalleDataActas(acta)" ng-repeat="acta in libroActas.actas | orderBy:'fechaCreacion'"
               class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="fa fa-file-o"></i> <em> {{acta.fechaCreacion
              | date: "medium"}} <span ng-show="acta.creador"> - por: {{acta.creador}}</span></em>
            </div>
          </div>
        </div>
        <div style="padding-top: 1em" class="col-lg-3"></div>
        <div style="padding-top: 1em" class="col-lg-9">
          <div class="legend-button">
            <div class="legend">Detalle Actas</div>
            <div ng-show="!!currentActa && currentActa.descargarActa"
                 show-by-rol='["gestor","Jefe de Área","Sub Gerente","Gerente","Administrador de Contrato EC","Imputacion","Pagos","PMO","Auditoria Telefonica"]'
                 ng-click="descargarPDFActa(currentActa.id)" class="btn btn-info">Descargar Acta <i
              class="fa fa-file-pdf-o"></i></div>
            <!--<div ng-show="!!currentActa && currentActa.tieneHem"-->
                 <!--show-by-rol='["gestor","Jefe de Área","Sub Gerente","Gerente","Administrador de Contrato EC","Pagos","Auditoria Telefonica"]'-->
                 <!--ng-click="descargarHem(currentActa.id)" class="btn btn-info">Descargar HEM: Nº-->
              <!--{{currentActa.numeroHem}}-->
            <!--</div>-->
          </div>
          <div ng-show="!!currentActa">
            <div class="row">
              <div class="legend-mini"><strong>Fechas</strong></div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-lg-3">Fecha Creación:</div>
                <div class="col-lg-3"><em>{{currentActa.fechaCreacion | date : 'dd-MM-yyyy'}}</em></div>
                <div class="col-lg-3">Fecha Término Estimada:</div>
                <div class="col-lg-3"><em>{{currentActa.fechaTerminoEstimada | date : 'dd-MM-yyyy'}}</em></div>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="legend-mini"><strong>Observaciones con Proveedor</strong></div>
            </div>
            <div class="row observacion" ng-repeat="observacion in currentActa.observaciones">
              <div class="col-lg-12">
                <div class="row">{{observacion.observaciones}}</div>
                <div class="row"><em><strong>por: {{observacion.usuario}} en {{observacion.fecha}}</strong></em></div>
                <hr/>
              </div>
            </div>
            <div ng-show="currentActa.observacionesGerencia.length >0" class="row">
              <div class="legend-mini"><strong>Observaciones con Gerencia</strong></div>
            </div>
            <div ng-show="currentActa.observacionesGerencia.length > 0" class="row observacion"
                 ng-repeat="observacion in currentActa.observacionesGerencia">
              <div class="col-lg-12">
                <div class="row">{{observacion.observaciones}}</div>
                <div class="row"><em><strong>por: {{observacion.usuario}} en {{observacion.fecha | date:
                  "medium"}}</strong></em></div>
                <hr/>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="legend-mini"><strong>Validación</strong></div>
            </div>
            <div class="row">
              <div class="col-lg-3">Validación Sistema:</div>
              <div class="col-lg-3"><span
                ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': currentActa.validacionSistema == 'true','icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': currentActa.validacionSistema == 'false'}"></span>
              </div>
              <div class="col-lg-3">Validación Usuario:</div>
              <div class="col-lg-3"><span
                ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': currentActa.validacionUsuario == 'true','icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': currentActa.validacionUsuario == 'false' || currentActa.validacionUsuario == 'null' }"></span>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="legend-mini"><strong>Montos</strong></div>
            </div>
            <div class="row">
              <div class="col-lg-3">Monto Cubicado:</div>
              <div class="col-lg-3">{{currentActa.montoCubicado | currency:getTipoMonedaSigno(currentActa.tipoMoneda)}}</div>
              <div class="col-lg-3">Monto Adicional:</div>
              <div class="col-lg-3">{{currentActa.montoAdicional | currency:getTipoMonedaSigno(currentActa.tipoMoneda)}}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">Monto Total:</div>
              <div class="col-lg-3">{{currentActa.montoTotal | currency:getTipoMonedaSigno(currentActa.tipoMoneda)}}</div>
            </div>
            <hr/>
            <div class="row">
              <tabset justified="true" ng-show="currentActa">
                <tab active="true" select="setCurrentTabActaServiciosMateriales('servicios')"
                     heading="Servicios Costeados"></tab>
                <tab select="setCurrentTabActaServiciosMateriales('serviciosAdicionales')"
                     heading="Servicios Adicionales"></tab>
                <tab select="setCurrentTabActaServiciosMateriales('materiales')" heading="Materiales Costeados"></tab>
                <tab select="setCurrentTabActaServiciosMateriales('materialesAdicionales')"
                     heading="Materiales Adicionales"></tab>
              </tabset>
            </div>
            <div class="row">
              <form name="form" class="form-horizontal" novalidate>
                <formly-form model="currentActa" fields="tabActaFields">
                </formly-form>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--usuarios Validadorers-->
    <div class="row" ng-show="view_tab == 'tabUsuariosValidadores'">
      <div class="row">
        <div class="col-lg-3-ot divider-right">
          <div class="legend-button">
            <div class="legend">Usuarios Validadores</div>
          </div>
          <div ng-show="usuariosValidadores.length == 0"><strong>No se encontraron datos..</strong></div>
          <div ng-class="{active: usuario.id == currentUsuarioValidador.id}" ng-show="usuariosValidadores.length > 0"
               cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500 }"
               ng-click="setDetalleDataUsuarioValidador(usuario)" ng-repeat="usuario in usuariosValidadores"
               class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="fa fa-user"></i> <i ng-show="usuario.validaciones.length > 0" tooltip="Tiene Validaciones"
                                            class="fa fa-check-circle" aria-hidden="true"></i> <em>
              {{usuario.nombreUsuario}}</em>
            </div>
            <div class="row">
              <strong>{{usuario.concepto}}</strong>
            </div>
          </div>
        </div>
        <div style="padding-top: 1em" class="col-lg-3"></div>
        <div style="padding-top: 1em" class="col-lg-9">
          <div class="legend-button">
            <div class="legend">Validaciones <span ng-show="!!currentUsuarioValidador">en {{currentUsuarioValidador.concepto}}</span>
            </div>
          </div>
          <div ng-show="!!currentUsuarioValidador">
            <div ng-repeat="validacion in currentUsuarioValidador.validaciones" class="libro-obra-item divider-bottom">
              <div class="row">
                <span
                  ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up':validacion.validacion === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': validacion.validacion === false}"></span>
                {{validacion.comentario}}
              </div>
              <div class="row">
                Fecha: <em>{{validacion.fecha | date: "medium"}}</em>,
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabLibrosDeObra'">
      <div class="row">
        <div class="col-lg-6-ot  divider-right">
          <div class="legend-button">
            <div class="legend">Libros de Obra</div>
          </div>
          <div ng-show="libroActas.librosDeObras.length == 0"><strong>No se encontraron datos..</strong></div>
          <div ng-class="{active: libro.id == currentLibroDeObra.id}" ng-show="libroActas.librosDeObras.length > 0"
               cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500 }"
               ng-click="setDetalleDataLibroObras(libro)" ng-repeat="libro in libroActas.librosDeObras"
               class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="fa fa-book"></i> <i ng-show="libro.librosDeObras" class="fa fa-download" aria-hidden="true"></i>
              <i ng-show="libro.latitud && libro.longitud" class="fa fa-map-marker" aria-hidden="true"></i>
              {{libro.observaciones}}
            </div>
            <div class="row">
              <em>{{libro.fechaCreacion | date}} - por: {{libro.creador}}</em>
            </div>
          </div>

        </div>
        <div style="padding-top: 1em" class="col-lg-6">
        </div>
        <div style="padding-top: 1em" class="col-lg-6">
          <div ng-if="currentLibroDeObra" class="row">
            <div class="legend-button">
              <div class="legend">Archivos de Libro</div>
            </div>
            <div ng-show="!currentLibroDeObra.librosDeObras"><strong>No se encontraron archivos..</strong></div>
            <div ng-click="descargar(resumen)"
                 cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500}"
                 ng-repeat="resumen in libroActas.resumen" class="libro-obra-item divider-bottom">
              <div class="row">
                <i class="icon-option fa fa-download"></i> {{resumen.nombreArchivo}}
              </div>
            </div>
          </div>
          <div ng-if="currentLibroDeObra.latitud && currentLibroDeObra.longitud" class="row">
            <formly-form model="currentLibroDeObra" fields="currentLibroDeObraMapFormly">
            </formly-form>
          </div>
          <div ng-if="currentLibroDeObra.latitud && currentLibroDeObra.longitud" class="row">
            <div>
              <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="staticMarker.coords" options="staticMarker.options" events="staticMarker.events"
                                idKey="staticMarker.id">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabLibrosDeObraCalidad'">
      <div class="row">
        <div class="col-lg-6-ot  divider-right">
          <div class="legend-button">
            <div class="legend">Libros de Obra - Calidad</div>
          </div>
          <div ng-show="libroActas.librosDeObrasCalidad.length == 0"><strong>No se encontraron datos..</strong></div>
          <div ng-class="{active: libro.id == currentLibroDeObraCalidad.id}"
               ng-show="libroActas.librosDeObrasCalidad.length > 0"
               cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500 }"
               ng-click="setDetalleDataLibroObrasCalidad(libro)" ng-repeat="libro in libroActas.librosDeObrasCalidad"
               class="libro-obra-item divider-bottom">
            <div class="row">
              <span tooltip="Libro de Obra de Empresa Colaboradora" ng-show="libro.empresacolaboradora"> <i
                class="fa fa-briefcase" aria-hidden="true"></i></span> <i class="fa fa-book"></i> {{libro.observacion}}
            </div>
            <div class="row">
              <em>{{libro.fechaCreacion | date:"medium"}} - por: {{libro.usuario.nombres}}
                {{libro.usuario.apellidos}} </em>
            </div>
          </div>

        </div>
        <div style="padding-top: 1em" class="col-lg-6">
        </div>
        <div style="padding-top: 1em" class="col-lg-6">
          <div class="row">
            <div class="legend-button">
              <div class="legend">Check-List</div>
            </div>
            <div ng-click="detalleAdjuntosCalidad(resumen)" tooltip="Presione para ver Detalle de Adjuntos"
                 cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500}"
                 ng-repeat="resumen in libroActas.resumenCalidad" class="libro-obra-item divider-bottom">
              <div class="row">
                <i class="fa fa-list-alt" aria-hidden="true"></i> {{resumen.item}}
              </div>
              <div class="row">
                Opción: <strong>{{resumen.opcionNombre}}</strong>
              </div>
              <div class="row">
                Observaciones <strong>{{resumen.opcionNombre}}</strong>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="legend-button">-->
          <!--<div class="legend">Mapa</div>-->
          <!--</div>-->
          <!--<div>-->
          <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'>-->
          <!--<ui-gmap-marker coords="staticMarker.coords" options="staticMarker.options" events="staticMarker.events" idKey="staticMarker.id">-->
          <!--</ui-gmap-marker>-->
          <!--</ui-gmap-google-map>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabAdjuntos'">
      <div class="col-lg-12-ot">

        <div class="legend-button">
          <div class="legend">Adjuntos</div>
        </div>
        <div ng-show="adjuntos.length == 0 || !adjuntos" class="row">
          <strong> No se encontraron datos...</strong>
        </div>
        <div ng-click="descargarAdjunto(adjunto)"
             cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500}"
             ng-repeat="adjunto in adjuntos" class="libro-obra-item divider-bottom">
          <div class="row">
            <i class="icon-option fa fa-download"></i> {{adjunto.nombreArchivo}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="headerVerDetalleOtActas.html" type="text/ng-template">
  <tr>
    <th ng-repeat="column in headerTableActas" ng-show="column.visible || true"
        class="text-center sortable" ng-class="{
'sort-asc': tableParams.isSortBy(column.field, 'asc'),
'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>


