<div class="modal-header">
  <button n type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">Detalle Bolsa de OT</h4>
</div>
<div cg-busy="{promise:promesa,message:'Cargando'}">
  <div  class="modal-body">
    <form ng-disabled='estado !== ""' name="form" class="form-horizontal" novalidate>
      <formly-form model="objeto" fields="formulario">
      </formly-form>
    </form>
  </div>
  <div  class="modal-footer">
    <span ng-show="!form.$valid" class="pull-left error-label">* Por favor llenar campos obligatorios</span>
    <button ng-disabled="!form.$valid || submitting" ng-show='estado === "" || estado === "rechazadas"' class="btn btn-info" ng-click="guardar()">Guardar</button>
    <button  class="btn btn-default" ng-click="cancel()">Cancelar</button>
  </div>
</div>
