<!doctype html> <html ng-app="otecApp"> <head> <!--<meta name="fragment" content="!">--> <!--<base href="/index.html">--> <meta charset="utf-8"> <title ng-bind="pageTitle + ' | Otec'"></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.49d1e33c.css"> <link rel="stylesheet" href="styles/main.94ca7481.css"> </head> <body ng-controller="ApplicationCtrl"> <toast></toast> <!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]--> <!-- Add your site or application content here --> <div class="header"> <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <div class="navbar-header"> <img class="navbar-brand" src="images/logo.629fb0d8.png" alt=""> </div> <nav-bar-ot></nav-bar-ot> </div> </div> <div class="container-fluid"> <div ui-view></div> </div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID --> <script>!function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[ l ] = A[ l ] || function () {
        (A[ l ].q = A[ l ].q || []).push(arguments)
      }, A[ l ].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[ 0 ], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');</script> <script src="scripts/vendor.88636479.js"></script> <script src="scripts/scripts.1eac7623.js"></script> <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script> <script src="resources/angular-locale_es-cl.js"></script> <!--<div login-dialog ng-if="!isLoginPage"></div>--> </body> </html>